<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Repository.Properties.Settings.AwareConnectionString"
            connectionString="Data Source=78.73.137.154,1433;Network Library=DBMSSOCN;&#xA;Initial Catalog=Aware;User ID=sa;Password=HejHej123;"
            providerName="System.Data.SqlClient" />
        <add name="Repository.Properties.Settings.TimsdatabasConnection"
            connectionString="Data Source=78.73.137.154,1433;Network Library=DBMSSOCN;&#xA;Initial Catalog=Aware;User ID=sa;Password=HejHej123;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Repository.Properties.Settings>
            <setting name="temp" serializeAs="String">
                <value>Data Source=(localdb)\Aware;Initial Catalog=Aware;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</value>
            </setting>
        </Repository.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Repository.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
        </Repository.Properties.Settings>
    </applicationSettings>
</configuration>